.AlocarBackground{
    position: absolute;
    left: 200px;
    top: 200px;
    width: auto;
    height: 100%;
    background-color: blueviolet;
}

.canvas{
    border: 5px solid purple;
    width: 1200px;
    height: 600px;
    position: absolute;
    padding: 0px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.imagemInserida{
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: '500px 500px';
}

