.castelo{/*antigo botao1 da classe ClassiStyles.css */

    background-color: rgb(197, 101, 21);
    position: absolute;
    top: 20%;
    left: 60%;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    z-index: 31;
    box-shadow: 4px 5px 0px 4px rgb(88, 43, 5);
}

.btn1{
    background-color: rgb(11, 72, 185);
    position: absolute;
    top: 40%;
    left: 700px;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    z-index: 32;
    box-shadow: 4px 5px 0px 4px rgb(3, 2, 63);
}

.btn2{
    background-color: rgb(11, 72, 185);
    position: absolute;
    top: 55%;
    left: 700px;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    z-index: 33;
    box-shadow: 4px 5px 0px 4px rgb(3, 2, 63);
}

.btn3{
    background-color: rgb(11, 72, 185);
    position: absolute;
    top: 400px;
    left: 700px;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    z-index: 34;
    box-shadow: 4px 5px 0px 4px rgb(3, 2, 63);
}

.boxDescricao{
    width: 300px;
    height: 300px;
    background-color: rgb(197, 101, 21);
    z-index: 35;
    position: absolute;
    left: 4%;
    top: 10%;
    border-radius: 20px;
    box-shadow: 4px 5px 0px 4px rgb(3, 2, 63);

}

.descricao{
    font-size: 30px;
    color: white;
    text-shadow: 0.55em, 0.55em, 0.5em black;
    z-index: 36;
    padding: 10px;
    text-align: left;
}