.objetos{
    position: absolute;
    z-index: 1000;
    background-color: chartreuse;
    height: 20%;
    width: 10%;
    background-repeat: no-repeat;
    padding: 0;
}

img{ left: 0; top:0; min-height: 100%; width: auto; padding: 0; margin: 0;}



#engRightTop{
    background-image: url('../images/Engrenagens/engrenagem1.svg');
    
    
}

#engRightMiddle{
    background-image: url('../images/Engrenagens/engrenagem2.svg');
}

#engRightBottom{
    background-image: url('../images/Engrenagens/engrenagem3.svg');
}




#engLeftTop{
    background-image: url('../images/Engrenagens/engrenagem4.svg');
}

#engLeftMiddle{
    background-image: url('../images/Engrenagens/engrenagem5.svg');
}

#engLeftBottom{
    background-image: url('../images/Engrenagens/engrenagem6.svg');
}

