:root{
    --corDosBotoes: rgb(85, 85, 85);
    --leftPlacas: 33.2%;
}

/*
style={{position: 'absolute', width: 200+'px', height: 'auto', left: '200px', top: '30px',
    zIndex: 30}} 
*/

.placaTorreRelogio:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: rotate(30deg);
}
.placaLaboratorio:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: rotate(-10deg);
}
.placaMoinho:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: rotate(-35deg);
}






.placaTorreRelogio h3{
    position: absolute;
    margin-top: 5%;
    margin-left: 45px;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.placaTorreRelogio{ /*primeira de cima*/
    position: absolute;
    width: 478px;
    height: 120px;
    left: 32.2%;
    top: 15%;
    z-index: 100;
    background-image: url('../images/telaSelecao/placa1.svg');
    background-repeat: no-repeat;
}




.placaLaboratorio h3{
    position: absolute;
    margin-top: 5%;
    margin-left: 45px;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.placaLaboratorio{/*placa do meio*/
    position: absolute;
    width: 479px;
    height: 120px;
    left: 26.2%;
    top: 40%;
    z-index: 90;
    background-image: url('../images/telaSelecao/placa2.svg');
    background-repeat: no-repeat;
}



.placaMoinho h3{
    position: absolute;
    margin-top: 5%;
    margin-left: 50%;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 8px black;
}
.placaMoinho{
    position: absolute;
    width: 478px;
    height: 120px;
    left: 33.2%;
    top: 65%;
    z-index: 80;
    background-image: url('../images/telaSelecao/placa3.svg');
    background-repeat: no-repeat;
}

.poste{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 17%;
    top: -10%;
    z-index: 70;
    background-image: url('../images/telaSelecao/poste.svg');
    background-repeat: no-repeat;
}






#botaoRank{
    position: absolute;
    left: 77%;
    top: 74%;
    width: 250px;
    height: 90px;
    cursor: pointer;
    z-index: 92;
}

#botaoRank, #coroaIMG{
    position: absolute;
    background-image: url('../images/telaSelecao/coroa.svg');
    background-repeat: no-repeat;
    z-index: 100;
}




#plaquinhaRank{/*placa abaixo da palabra "ranking"*/
    position: absolute;
    left: 76%;
    top: 88%;
    width: 270px;
    height: 67.8px;
    background-image: url('../images/telaSelecao/placa2.svg');
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 100;
}

#plaquinhaRank #ranking{/* TEXTO "RANKING" */
    font-size: 55px;
    font-family: "nova oral";
    position: absolute;
    margin-left: 15%;
    margin-top: 0%;
    color: white;
    z-index: 101;
    text-shadow: 5px 5px 5px black, -2px -2px 5px black;
}




/*
h3{
    font-family: "Nova Oral"; 
    font-size: 70px;
    position: absolute;
    left: 2%;
    top: 87%;
    color: white;
    text-shadow: 0 0 55px black;
} 

h3:hover{
    text-shadow: 0 0 105px red;
    outline-width: 2px;
    outline-offset: unset; 
    transition-duration: 2s;
}
*/


/*
.boxDescricao{
    width: 320px;
    height: 380px;
    background-color: rgb(197, 101, 21);
    z-index: 35;
    position: absolute;
    left: 3%;
    top: 30%;
    box-shadow: 2px 2px 0px 4px rgb(101, 42, 3);
}

.boxDescricao h3{
    font-size: 25px;
    font-family: "arial";
    color: white;
    text-shadow:  3px 3px 5px black, -3px -3px 5px black;
    z-index: 36;
    padding: 3px 20px 3px 20px; /* Top, Right, Bottom, Left
    position: inherit;
    top: -20px;
    text-align: center;
    background-color: rgb(156, 64, 3);
}

.boxDescricao #personagem{
    width: 85%;
    height: 50%;
    position: absolute;
    left: 0; 
    right: 0;
    margin: auto;
    top: 45%;
    background-image: url('../images/personagem.jpg');
    background-repeat: no-repeat;
    background-size: 100% 150%;
    border: 5px solid hsl(29, 98%, 23%);
    z-index: 101;
}
*/