@keyframes animacaoFinal{
    
    from{
       left: 530px;
       top: 80px;
       height: 220px;
       width: 220px;
    }

    to{
        top: -18%;
        left: 14%;/*-7%*/
        height: 930px; 
        width: 930px; 
       /* background-color:rgb(0,0,0,0.3);
        transform: scale(4.2);*/
    }

}
/*proporção da foto do cenário da torre da igreja: 1,778990450204638. (1304x733)*/


/*------------------------------- PEDAÇOES DO MEDALHÃO E O PRÓPRIO MEDALHÃO: --------------------------------------*/
.centroMedalhao{  
    position: absolute; 
    left: 530px; top: 80px; height: 220px; width: 220px; z-index: 98; 
    background-image: url('../images/amuleto_partes_v2/medalhao.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.centroMedalhao:hover{ 
   /* background-image: url('../images/amuleto_partes_v2/medalhaoContornado1SVG.svg'); */ 
    background-image: url('../images/amuleto_partes_v2/medalhaoAmarelo.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.centroMedalhaoCompleto{ 
    position: absolute;
    left: 530px;
    top: 80px;
    z-index: 1000; 
    height: 220px;
    width: 220px;
    background-image: url('../images/amuleto_partes_v2/amuleto_amarelo.svg');
    background-repeat: no-repeat;
    background-size: cover;

    transition-property: background-image height width;
    transition-duration: 1s;

    animation-name: animacaoFinal;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;
    animation-direction: alternate;*/
   

    /*
    transition-property: background-image;
    transition-duration: 1s;
    transition-property: all;
    transition-delay: 3s;
    transition-duration: 3s;
    transition-timing-function: ease-in; */
    
}


/* ESTILO DOS ELEMENTOS ANTES DE SEREM ENCAIXADOS NO CENTRO DO MEDALHÃO: */
.circuloCentro{ position: absolute; z-index: 21; height: 100px; width: 112px;}
.baixoDir{ position: absolute; z-index: 19; height: 79px; width: 72px;  }
.baixoEsq{ position: absolute; z-index: 19; height: 80px; width: 66px;  }
.cimaDir{position: absolute; z-index: 20; height: 67px; width: 71px;  }
.cimaEsq{ position: absolute; z-index: 20; height: 67px; width: 71px;  }
.taca{ position: absolute; z-index: 22; height: 98px; width: 80px;  }


/* ESTILO DOS ELEMENTOS DEPOIS DE SEREM ENCAIXADOS NO CENTRO DO MEDALHÃO: */
.circuloCentroEncaixe{ position: absolute; z-index: 101; height: 100px; width: 112px;   }
.baixoDirEncaixe{ position: absolute; z-index: 98; height: 79px; width: 72px;  }
.baixoEsqEncaixe{ position: absolute; z-index: 98; height: 80px; width: 66px;  }
.cimaDirEncaixe{ position: absolute; z-index: 99; height: 67px; width: 71px;  }
.cimaEsqEncaixe{ position: absolute; z-index: 99; height: 67px; width: 71px;  }
.tacaEncaixe{ position: absolute; z-index: 102; height: 98px; width: 80px; }


/*original é 1051-1437*/


/*  ESTILO DOS DEMAIS OBJETOS DO CENÁRIO: */
#machadoGrande{   height: 180px; width: 350px; z-index: 51;  }
#escudoParede{  height: 220px; width: 160px; z-index: 50;  }/*escudo da parede*/
#escudoMesa{  height: 200px; width: 220px; z-index: 54;  }/*escudo da mesa*/
#pergaminho{  height: 150px; width: 150px; z-index: 49;  }
#armadura{  height: 480px; width: 200px; z-index: 53; }
#machado{  height: 97px; width: 200px; z-index: 52; transform: rotate(45deg); }
#barril{   height: 270px; width: 200px; z-index: 50; }
#caneca{   height: 90px; width: 80px; z-index: 51;  }
#tampa{  height: 30px; width: 100px; z-index: 51; }
#jarra{  height: 210px; width: 130px; z-index: 49; }
#caneta{  height: 150px; width: 99px; z-index: 48;}
#papel{  height: 150px; width: 150px; z-index: 51; }


.objetos{ position: absolute; }
img{ height: 100%; width: 100%; }